app-gallows {
  padding: .1em;
  display: block;

  h1 {
    font-size: .6em;
    position: absolute;
  }

  .svg-wrap {
    width: 8em;
    margin: auto;

    * {
      @extend %funky-show-hide;
    }
  }

  $progressBarColour: $success-color;
  $progressValueColour: $alert-color;

  progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $progressBarColour;
    width: 100%;
    height: 0.2em;
    margin: 2.6rem 0 0 0;
    padding: 0;

    &::-moz-progress-bar {
        background: $progressValueColour;
    }
    &::-webkit-progress-bar {
        background: $progressBarColour;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    }
    &::-webkit-progress-value {
        background: $progressValueColour;
    }
    &::-ms-fill {
        background: $progressValueColour;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    }
  }
}